
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    body{
        font-family: 'Roboto', sans-serif;
    }
    #logo{
        background-image: url("../images/logo.PNG");
        background-size: cover;
        position:absolute;
        height:40px;
        width:60px;
        left:0px;
        top:0px;
    }
    #bar {
        position: absolute;
        height: 70px;
        width: 100%;
        margin-top: 40px;
        left: 0px;
        background-color: rgb(0, 96, 221);
        color: white;
        font-size: 40px;
        text-indent: 3%;

    }

    p {
        margin-top: 0px;
        font-size: 20px;
        text-indent: 3%;
        line-height: 2px;
    }

    #onglet1 {
        position: absolute;
        height: 60px;
        width: 20%;
        margin-top: 300px;
        left: 0px;
        color: white;
        text-align: center;
        font-size: 30px;
        background-image: linear-gradient(rgb(0, 17, 255),rgb(0, 0, 180));
        transition: 0.3s;
    }

    #onglet1:hover {
        background-image: linear-gradient(rgb(0, 14, 214),rgb(0, 0, 104));
        width: 27%;
        -webkit-transition: width 500ms;
        -moz-transition: width 500ms;
        transition: width 500ms;
    }

    #onglet2 {
        position: absolute;
        height: 60px;
        width: 20%;
        margin-top: 400px;
        left: 0px;
        color: white;
        text-align: center;
        font-size: 30px;
        background-image: linear-gradient(rgb(0, 17, 255),rgb(0, 0, 180));
        transition: 0.3s;
    }

    #onglet2:hover {
        background-image: linear-gradient(rgb(0, 14, 214),rgb(0, 0, 104));
        width: 27%;
        -webkit-transition: width 500ms;
        -moz-transition: width 500ms;
        transition: width 500ms;
    }

    #onglet3 {
        position: absolute;
        height: 60px;
        width: 20%;
        margin-top: 500px;
        left: 0px;
        color: white;
        text-align: center;
        font-size: 30px;
        background-image: linear-gradient(rgb(0, 17, 255),rgb(0, 0, 180));
        transition: 0.3s;
    }

    #onglet3:hover {
        background-image: linear-gradient(rgb(0, 14, 214),rgb(0, 0, 104));
        width: 27%;
        -webkit-transition: width 500ms;
        -moz-transition: width 500ms;
        transition: width 500ms;
    }

    #onglet4 {
        position: absolute;
        height: 60px;
        width: 20%;
        margin-top: 600px;
        left: 0px;
        color: white;
        text-align: center;
        font-size: 30px;
        background-image: linear-gradient(rgb(0, 17, 255),rgb(0, 0, 180));
        transition: 0.3s;
    }

    #onglet4:hover {
        background-image: linear-gradient(rgb(0, 14, 214),rgb(0, 0, 104));
        width: 27%;
        -webkit-transition: width 500ms;
        -moz-transition: width 500ms;
        transition: width 500ms;
    }

    #bgimage {
        position: absolute;
        height: 85%;
        width: 70%;
        margin-top: 110px;
        right: 0px;
        object-fit: cover;
        object-position: 100% 100%;
    }
